

<a href="<%= request.referrer %>" class='back'>back</a>

<div class='list'>
<% @my_books.each do |book|%>
<a href='/info?book=<%= book['id']%>' class='list'><%= book['title'] %></a><br>

<% end %>

</div>
