<div class="background-change">
<div class='in'>

<h2>Please Login</h2>

  <form action='/session' method='post'>


  <input type='text' name='email' placeholder="Email"><br>

  <input type='password' name='password' placeholder="Your password"><br>


  <button>Log In</button><br>
   
  </form>
</div>
</div>
