
<h2>Log into your account</h2>

<form action='/session' method='post'>

  <label for=''>Your email</label>
  <input type='text' name='email'>

  <label for=''>Your password</label>
  <input type='password' name='password'>

  <button>Log In</button>

</form>
