


<div class='search'>

  <div class='by_title'>
    <h2>Search by Title:</h2>
    <form action='/list'>
    <label for=''></label>
    <input type='text' name='book' placeholder="Search for a book">
    <button>Search</button>
  </div>

    <div class='by_category'>

      <h2>Search by Category:</h2>

      <% @categories.each do |category| %>

        <a href="/by_category/<%= category.id %>"> <%= category.name.capitalize %> </a>
        <% end %>

    </div>
  </div>
</div>
