
<h3>Complete the form</h3>

<form action='/user/signup' method='post' class='in'>

  <label for=''>Your email</label>
  <input type='text' name='email'><br>

  <label for=''>First Name</label>
  <input type='text' name='first_name'><br>

  <label for=''>Last Name</label>
  <input type='text' name='last_name'><br>

  <label for=''>Insert a Password</label>
  <input type='password' name='password'><br>


  <button>Sign Up</button>

</form>
