
<div class="background-change">

<div class='signup'>

  <h2>Complete the form</h2>

  <form action='/user/signup' method='post'>

    <input type='text' name='email' placeholder="Insert your email"><br>

    <input type='text' name='first_name' placeholder="Insert your name"><br>

    <input type='text' name='last_name' placeholder="Insert your surname"><br>

    <input type='password' name='password' placeholder="Insert your password"><br>


    <button>Sign Up</button>

  </form>
</div>
</div>
