<!-- details about the user plus a list of books he has chosen to read next -->



<h1>Hello <%= @user %> </h1>


<div>
  <p>Want to read</p>
    <ul>
      <li></li>
    </ul>
  <p>Read</p>
    <ul>
      <li></li>
    </ul>
    <p>My reviews</p>

</div>
